{% extends 'index.html' %}
{% block content %}
    {% if request.path == '/cbv/' %}
        <h1>cities CBV</h1>
        <div>
            <ul>
                <li><a href="{% url 'crud:city_cbv_create' %}">ADD</a></li>
                <li><a href="{% url 'crud:city_cbv_query' %}">QUERY</a></li>
                <li><a href="{% url 'crud:city_cbv_first' %}">FIRST</a></li>
            </ul>
        </div>
        <table>
            {% for city in object_list %}
                <tr>
                    <td>{{ city.location }}</td>
                    <td>
                        <a href="{% url 'crud:city_cbv_update' pk=city.pk %}">EDIT</a>
                        <a href="{% url 'crud:city_cbv_view' pk=city.pk %}">VIEW</a>
                        <a href="{% url 'crud:city_cbv_delete' pk=city.pk %}">DELETE</a>
                        <a href="{% url 'crud:city_cbv_modify' pk=city.pk %}">MODIFY</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h1>cities FBV</h1>
        <div>
            <ul>
                <li><a href="{% url 'crud:city_fbv_create' %}">ADD</a></li>
                <li><a href="{% url 'crud:city_fbv_query' %}">QUERY</a></li>
                <li><a href="{% url 'crud:city_fbv_first' %}">FIRST</a></li>
            </ul>
        </div>
        <table>
            {% for city in object_list %}
                <tr>
                    <td>{{ city.location }}</td>
                    <td>
                        <a href="{% url 'crud:city_fbv_update' pk=city.pk %}">EDIT</a>
                        <a href="{% url 'crud:city_fbv_view' pk=city.pk %}">VIEW</a>
                        <a href="{% url 'crud:city_fbv_delete' pk=city.pk %}">DELETE</a>
                        <a href="{% url 'crud:city_fbv_modify' pk=city.pk %}">MODIFY</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}